canvas
{
    background-color: #fff;
}

body
{
    background-color:lightblue;
}

@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('kulminoituva.ttf');
}

.inactive {
    border: 2px solid lightblue;
}

.active {
    border: 2px solid black;
}